.form {
  display: flex;
  flex: 1;
  justify-content: center;
}

.loginBox {
  display: flex;
  justify-content: center;
}

.loginColumn {
  max-width: 430px;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
}

.loginRow {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button {
  margin-top: 20px;
}

.link {
  padding: 20px 0;
}

.link:first-child {
  padding-right: 10px;
}

.link:last-child {
  padding-left: 10px;
}
