.header { /* stylelint-disable */
  position: fixed;
  width: 100%;
  height: 64px;
  z-index: 1000;
}

.title {
  text-decoration: none;
  color: #FFFFFF;
}

.hidden {
  display: none;
  cursor: default;
}

.join {
  margin-top: -8px;
  display: flex;
  height: 64px;
  align-items: center;
}

.headerButton {
  color: #FFF;
}
