.outer {
  max-width: 90vw;
}

.navDrawer {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

.navItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #303F9F;
  color: #FFF;
  height: 64px;
  justify-content: center;
  border-top: 1px solid;
  text-decoration: none;
}
