.browsePage { /* stylelint-disable */
  padding-top: 64px;
  max-width: 800px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.formWrapper {
  box-sizing: border-box;
  flex-basis: 100%;
  display: flex;
  flex: 1;
  padding: 5px;
  margin: 5px;
  width: 100%;
  max-width: 800px;
}

.paper {
  display: flex;
  max-width: 100%;
  flex: 1;
}

.form {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
