.login { /* stylelint-disable */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: stretch;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  max-width: 400px;
  margin: 0 auto;
}

.formItem {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
}

