.login {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.paper {
  padding-top: 64px;
  width: 100%;
  margin-bottom: 10px;
}

.logo {
  color: #00BCD4;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  font-size: 34px;
}

.form {
  padding: 0 20px;
}

.paper {
  width: 100%;
  margin-bottom: 10px;
}

.loginBox {
  display: flex;
  justify-content: center;
}

.loginColumn {
  max-width: 430px;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
}

.loginRow {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button {
  margin-top: 20px;
}

.link {
  padding: 20px 0;
}

.link:first-child {
  padding-right: 10px;
}

.link:last-child {
  padding-left: 10px;
}
