.homePage {
  max-width: 800px;
  align-self: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
}

.paper {
  width: 100%;
  margin-bottom: 10px;
}

.logo {
  color: #00BCD4;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  font-size: 34px;
}

.form {
  padding: 0 20px;
}

.text {
  padding: 10px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

h1 {
  font-size: 30px;
}

.text h1 {
  padding-bottom: 10px;
}

.text p {
  padding-bottom: 10px;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
}

.button {
  flex-basis: 100%;
  max-width: 430px;
}
