.profileGrid { /* stylelint-disable */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.gridTile {
  box-sizing: border-box;
  margin: 5px;
  max-width: calc((800px / 3) - 30px);
  background-color: #400CD4;
}

.link {
  z-index: 100;
  color: #FFFFFF;
  text-decoration: none;
}
