.profileGrid { /* stylelint-disable */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.gridTile {
  border-radius: 5px;
  max-width: 40.5%;
  border: 1px solid black;
  margin: 10px;
  background-color: #400CD4;
}
