html,
body,
#app {
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

.dataRoot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  height: 100%;
  background: #0CEBC7;
}

.header {
  background: blue;
  position: fixed;
  height: 64px;
  top: 0;
  width: 100%;
  z-index: 10;
}

.wrapper {
  max-width: calc(768px + 16px * 2);
  min-width: 50%;
  background: #0CEBC7;
  min-height: calc(100% - 128px);
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.footer {
  height: 64px;
  background-color: lightblue;
  width: 100%;
}
