html,
body,
#app {
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

.dataRoot {
  background: red;
  z-index: 1;
  height: 100%;
}

.header {
  background: blue;
  position: fixed;
  height: 64px;
  top: 0;
  width: 100%;
  z-index: 10;
}

.wrapper {
  background: lightgreen;
  min-height: calc(100% - 128px);
  width: 100%;
  padding-top: 64px;
}

.footer {
  height: 64px;
  background-color: lightblue;
}
