html,
body,
#app {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.dataRoot {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  background: blue;
  position: fixed;
  height: 64px;
  top: 0;
  width: 100%;
  z-index: 10;
}

.stretchX {
  margin-top: 64px;
  flex: 1;
  display: flex;
  min-height: calc(100vh - 128px);
}

.wrapper {
  justify-content: center;
  flex: 1;
  display: flex;
}

.footer {
  height: 64px;
}
